<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="style.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <body>
    <div ng-app="Calendar" ng-controller="CalendarCtrl">
      <div class="calendar">
        <div class="month">
          <i
            class="fa fa-chevron-left"
            style="font-size: 25px; color: gray"
            ng-click="oldmonth()"
          ></i>
          <span class="month-year"> {{Month+" "+Year}}</span>
          <i
            class="fa fa-chevron-right"
            style="font-size: 25px; color: gray"
            ng-click="newmonth()"
          ></i>
        </div>
        <div class="date">
          <ul>
            <li class="day">Monday</li>
            <li class="day">Tuesday</li>
            <li class="day">Wednesday</li>
            <li class="day">Thursday</li>
            <li class="day">Friday</li>
            <li class="day">Saturday</li>
            <li class="day">Sunday</li>
          </ul>
          <ul class="dates">
            <li class="inactive" ng-repeat="dates in lastmonth">{{dates}}</li>
            <li
              ng-repeat="dates in currentmonth"
              ng-click="reserve(dates,Month)"
            >
              {{dates}}
            </li>
            <li class="inactive" ng-repeat="dates in nextmonth">{{dates}}</li>
          </ul>
        </div>
      </div>
      <div class="booking" id="booking">
        <div>
          <span>Tenant Name: </span>
          <input
            type="text"
            ng-bind="tenantname"
            placeholder="Enter your name"
          />
        </div>
        <div>
          <span>Day: {{dayOfReservation}}</span>
        </div>

        <button class="confirm" ng-click="submit()">Confirm Stay</button>
      </div>
    </div>
    <script>
      var app = angular.module("Calendar", []);
      app.controller("CalendarCtrl", function ($scope) {
        let months = [
          {
            month: "January",
            days: 31,
          },
          {
            month: "February",
            days: 28,
          },
          {
            month: "March",
            days: 31,
          },
          {
            month: "April",
            days: 30,
          },
          {
            month: "May",
            days: 31,
          },
          {
            month: "June",
            days: 30,
          },
          {
            month: "July",
            days: 31,
          },
          {
            month: "August",
            days: 31,
          },
          {
            month: "September",
            days: 30,
          },
          {
            month: "October",
            days: 31,
          },
          {
            month: "November",
            days: 30,
          },
          {
            month: "December",
            days: 31,
          },
        ];
        var current = 4;
        var year = 2023;

        function leapYear(year, month, days) {
          if (year % 4 == 0) {
            if (month == 1) {
              return days + 1;
            }
          }
          return days;
        }

        function listOfLastDates(year, month, days, lastMonthDays, months) {
          sd = months[month].month + " 1, " + year.toString();
          startDate = new Date(sd);
          startDay = startDate.getDay();
          return Array.from(
            { length: startDay - 1 },
            (_, i) => lastMonthDays - i
          ).reverse();
        }
        function listOfNextDates(year, month, days, months) {
          end = leapYear(year, month, days, months).toString();
          ed = months[month].month + " " + end + ", " + year.toString();
          endDate = new Date(ed);
          endDay = endDate.getDay();
          left = 7 - endDay;
          console.log(left);
          days = Array.from({ length: left }, (_, i) => i + 1);
          console.log(days);
          return days;
        }
        $scope.Month = months[current].month;
        $scope.Year = year;
        $scope.currentmonth = Array.from(
          { length: leapYear(year, current, months[current].days) },
          (_, i) => i + 1
        );
        $scope.lastmonth = listOfLastDates(
          year,
          current,
          months[current].days,
          months[current - 1].days,
          months
        );
        $scope.nextmonth = listOfNextDates(
          year,
          current,
          months[current].days,
          months
        );
        $scope.newmonth = function () {
          current = current + 1;
          if (current == 12) {
            current = 0;
            year = year + 1;
            $scope.Year = year;
          }
          $scope.Month = months[current].month;

          $scope.currentmonth = Array.from(
            { length: leapYear(year, current, months[current].days) },
            (_, i) => i + 1
          );
          $scope.lastmonth = listOfLastDates(
            year,
            current,
            months[current].days,
            months[current - 1].days,
            months
          );
          $scope.nextmonth = listOfNextDates(
            year,
            current,
            months[current].days,
            months
          );
        };
        $scope.oldmonth = function () {
          current = current - 1;
          if (current == -1) {
            current = 11;
            year = year - 1;
            $scope.Year = year;
          }
          $scope.Month = months[current].month;
          $scope.currentmonth = Array.from(
            { length: leapYear(year, current, months[current].days) },
            (_, i) => i + 1
          );
          $scope.lastmonth = listOfLastDates(
            year,
            current,
            months[current].days,
            months[current - 1].days,
            months
          );
          $scope.nextmonth = listOfNextDates(
            year,
            current,
            months[current].days,
            months
          );
        };
        $scope.reserve = function (dates, Month) {
          var book = document.getElementById("booking");
          book.style.visibility = "visible";
          $scope.dayOfReservation = Month + " " + dates.toString();
        };
        $scope.submit = function () {
          var book = document.getElementById("booking");
          book.style.visibility = "hidden";
        };
      });
    </script>
  </body>
</html>
