body {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Roboto";
}

.month {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.month-year {
  font-size: 25px;
}
.day {
  color: black;
}
.date ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}
.calendar {
  width: 700px;
  justify-content: center;
  border-style: ridge;
}

.date ul li {
  width: calc(100% / 7);
  margin-top: 20px;
  margin-bottom: 20px;
}
.dates {
  display: block;
}
.booking {
  visibility: hidden;
  display: block;
  width: 300px;
  border-style: ridge;
}
.inactive {
  color: #d9d7d7;
}
.confirm {
  background-color: darkseagreen;
}
.booking button {
  justify-content: center;
  align-items: center;
}
