body {
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: "Roboto";
}

.month {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.month-year {
  font-size: 25px;
}
.day {
  color: black;
}
.date ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;

  margin-top: 20px;
  margin-bottom: 20px;
}
.calendar {
  width: 700px;
  justify-content: center;
  border-style: ridge;
}

.date ul li {
  width: calc(100% / 7);
  margin-top: 20px;
  margin-bottom: 20px;
}
.dates {
  display: block;
}
.booking {
  visibility: hidden;
  display: block;
  width: 300px;
  border-style: ridge;
}
.inactive {
  color: #d9d7d7;
}
.confirm {
  background-color: #00ff00;
}
.booking button {
  justify-content: center;
  align-items: center;
}
.reserved {
  visibility: hidden;
}
/* This code was taken from W3 School with some changes */
/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -webkit-animation: fadeinout 4s linear forwards;
  animation: fadeinout 4s linear forwards;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
